@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #f7f7f7;
    --background2: #f1f1f1;
    --text: #1E1E1E;
    --text2: #787878;
    --primary: #44F478;
    --secondary: #A1F9BB;
  }
}

.h-full {
  height: 100%
}

.h-screen {
  height: 100dvh
}

.background {
  background-image: url(/bg.svg)
}

::-moz-selection,
::selection {
  background: var(--secondary);
}
